.wrapper {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .wrapper {
    height: 350px;
  }
}
.wrapper-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .wrapper-item {
    flex-direction: column;
  }
}
.item-img {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.item-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}
.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .item-img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .item-img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .item-img {
    height: 270px;
  }
}
.item-img {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .content-wrapper {
    padding: 0;
  }
}
.content-date {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.content-title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.content-text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.content-button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .content-button {
    width: 100%;
  }
}
